# 忽略 CMake 构建目录
/build/
**/build/
cmake-build-debug/
cmake-build-release/

# 忽略 CMake 缓存文件和配置
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CMakeLists.txt.old

# 忽略编译生成的目标文件
*.o
*.a
*.so
*.dylib
*.exe
*.out

# 忽略编译生成的临时文件
*.log
*.swp
*.swo

# 忽略 IDE 配置文件（如果你使用的是 CLion、VSCode 等）
.idea/
.vscode/
